:root {
	display: flex;
	width: 100vw;
	min-height: 100vh;
}

.landing-page {
	width: 100vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin: 0 auto;
}

.back-dark {
	background-color: rgb(0, 0, 0, 0.5);
	width: fit-content;
	margin: 0 auto;
    padding:0 4px;
}
